.navbar-container {
	position: absolute;
	width: 100%;
	z-index: 2;
	text-align: center;
    background-color: rgba(42, 59, 85, 0.8);

}
.dropdown-menu {
	min-width: 160px;
	padding: 5px 0;
	font-size: 1rem;
	color: #fff;
	text-align: left;
	list-style: none;
	border: none;
    /*background-color: rgba(0, 1, 1, 0.5);*/
    background-color: rgba(42, 59, 85, 0.8);
    border-radius: .25rem;
}
.navbar-brand{
    font-size: 25px;
}
.dropdown-item {
	display: block;
    font-size: 15px;
	width: 100%;
	padding: 14px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
}
